name: Test

on:
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - 'docs/**'
      - '**.md'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '**.md'
  workflow_dispatch:

jobs:
  build1:
    name: Build with no options
    runs-on: ubuntu-latest
    steps:
      - name: Checkout mkdocs
        uses: actions/checkout@v4
        with:
          repository: squidfunk/mkdocs-material

      - name: Checkout action
        uses: actions/checkout@v4
        with:
          path: .github/actions/mkdocs-builder

      - name: Run action without options
        uses: ./.github/actions/mkdocs-builder
